*.jpg
*.png
*.pth
*.gif
*.jpeg
*.csv
*.pptx
*.ppt
*.pt

!imgs/*.jpg
!imgs/*.png

video/
src/__pycache__/
src/libs/__pycache__/

checkpoints/
checkpoints/best_model_path
checkpoints/last_model_path

data/dataset/
data/dataset_objects/
data/dataset_pose/
data/dataset_shuffle_pose/
data/dataset_shuffled